# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo

# Data
data/outputs/*
*.pkl
*.bin

# Environnements virtuels
venv/
env/
.venv/
.env/

# Ignorer tous les fichiers JSON générés
*.json

# OS
.DS_Store
Thumbs.db