pdfplumber
python-docx
google-generativeai
pydantic
tqdm
pandas
sentence-transformers
scikit-learn
numpy
transformers

matplotlib
seaborn
# Utilitaires
python-dotenv==1.0.0
werkzeug==3.0.1
# Framework web
flask==3.0.0
flask-cors==4.0.0
####nv###
pymongo 
flask-bcrypt 
flask-jwt-extended
react-router-dom
#npm install jwt-decodepython -m pip install --upgrade pip
